

$dark-brown: #35211E;
$sisal-brown: #D9CCBE;
$quincy-brown: #643C31;
$muted-brown: #5e504c;
$light-brown:#ddd9d7;
$random: #E9EBEB;
$sandal-brown: #AB8B6F;

$body-color: #35211E;
$text-muted: #706966;

$s: #5c5656;
// 221E22
// 79736A
// 868286
// 685B53
// 28282C
// E9EBEB
// 706966
// 221E23
// 2E2524
// 77706B


$theme-colors: (
  "primary":    $quincy-brown,
  "secondary":  $s,
  "light":      $random,
  "muted": $sisal-brown,
  "dark":   $dark-brown,
);


@import "../node_modules/bootstrap/scss/bootstrap";



